html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  margin-top: 2rem;
}

p {
  line-height: 1.5;
}

a,
a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: normal;
  font-family: Consolas, Menlo, "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  white-space: pre-wrap;
  padding: 4px 8px;
  background-color: #ffffffa0;
  border: 1px solid #cbd5e280;
  border-radius: 5px;
  color: #005cc5;
}

ul {
}

li {
  margin-bottom: 0.5rem;
}
